# Webscrapping 

**Wesite Name** - [bookstoscrape](https://books.toscrape.com/)

In [1]:
# Package Requirements

!pip install beautifulsoup4
!pip install requests
!pip install pandas

Requirement already satisfied: beautifulsoup4 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from beautifulsoup4) (2.4.1)
Requirement already satisfied: requests in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (2.28.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from requests) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from requests) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from requests) (1.26.15)
Requirement already satisfied: pandas in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.12.0)

In [2]:
# Importing the Packages
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Create an empty list to store books
book_list = []

# Iterate through page numbers (0 to 50)
for page_number in range(51):
    url = f'http://books.toscrape.com/catalogue/page-{page_number}.html'
    
    # Send a GET request to the URL
    response = requests.get(url)
    
    # Create a BeautifulSoup object from the response text
    soup = BeautifulSoup(response.text, 'lxml')
    
    # Find all article elements with class 'product_pod'
    articles = soup.find_all('article', class_='product_pod')
    
    # Iterate through each article
    for article in articles:
        # Extract book title from the second 'a' element's 'title' attribute
        title = article.find_all('a')[1]['title']
        
        # Extract the price value and remove the currency symbol
        price = article.find('p', class_='price_color').text[2:]
        
        # Extract the availability status and remove extra whitespaces
        instock = article.find('p', class_='instock availability').text.strip()
        
        # Create a dictionary for the book's details
        book = {
            'Title': title,
            'Price': price,
            'In-Stock': instock
        }
        
        # Append the book dictionary to the book_list
        book_list.append(book)

In [3]:
# Calculate the length of the book_list
len(book_list)

1000

In [4]:
# Create a DataFrame from the book_list
book_dataframe = pd.DataFrame(book_list)
book_dataframe

                                                 Title  Price  In-Stock
0                                 A Light in the Attic  51.77  In stock
1                                   Tipping the Velvet  53.74  In stock
2                                           Soumission  50.10  In stock
3                                        Sharp Objects  47.82  In stock
4                Sapiens: A Brief History of Humankind  54.23  In stock
..                                                 ...    ...       ...
995  Alice in Wonderland (Alice's Adventures in Won...  55.53  In stock
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  57.06  In stock
997  A Spy's Devotion (The Regency Spies of London #1)  16.97  In stock
998                1st to Die (Women's Murder Club #1)  53.98  In stock
999                 1,000 Places to See Before You Die  26.08  In stock

[1000 rows x 3 columns]